@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: "Rubik", "Helvetica", "Arial", "sans-serif"; 
    --font-time-signature: 'Bravura Time Signature Subset';
}

:root {
  --ui-primary:  var(--color-blue-700);

}

.dark {
  --ui-primary:  var(--color-blue-200);
  --ui-bg: var(--color-zinc-950);
  --ui-bg-elevated: var(--color-gray-900);
}

html, body {
  @apply h-full;
}

button {
    @apply cursor-pointer;
}

